<div class="header" id="header">
	<h1>Event-Manager</h1>
</div>
<div class="division">
    <div>
  	  	<div id="image_holder" class="image_holder">
          <div class="card">
      		  <img  id ="image" src="../images/b1.jpg" height="280px" width="280px">
            <!-- <input id ="image_upload" type="file" accept="image/*">  -->
            <h2>{{currentUser}}</h2>
          </div>
        </div>
    </div>
    <div style="border-left: 0.5px solid black;padding-left: 20px;">
        <div class="box" style="margin-top:50px;">
    	      <p class="fs">Event-Name:<content>{{EventName}}</content></p>
        </div>
        <div class="box">
            <p class="fs">Committee-Name:<content>{{committee}}</content></p>
        </div>
        <div class="box">
            <p class="fs">Email Id:<content>{{UserEmail}}</content></p>
        </div>
        <div class="box">
            <p class="fs">MobileNo:<content>{{mobile}}</content></p>
        </div>
        <div class="box">
            <p class="fs">Points:<content>{{points}}</content></p>
        </div>
    </div>
</div>